* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #EAE8E4;
}

.apresentacao__header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
    background-color: #2D2D2D;
    border-radius: 0 0 32px 32px;
    opacity: 1;

    /*
    display: flex; 
    align-items: stretch;
    width: 100%;   
    background-color: #1a1a1a;
    border-radius: 0 0 30px 30px;
    */
}

.header-wrapper {
    display: flex;
    width: 100%;
    max-width: 1440px; /* Mesma largura do seu .apresentacao__container */
    margin: 0 auto;
    padding: 0 80px;   /* Mesmo padding lateral do seu site */
    height: 100%;
}

.secao-texto-header {
    flex: 1; /* Ocupa o lado esquerdo */
}

.secao-imagem-header {
    display: flex;
    align-items: flex-end; /* Alinha a imagem na base como no Figma */
}


.header-container-preto {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 480px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #EAE8E4;
    /*
    border-radius: 0 0 0 30px;
    */
}

.header-topo {
    display: flex;
    align-items: center;
    /*
    width: 780px;
    gap: 24px;
    */
    width: 100%;
    height: 24px;
    gap: 24px;
}

.logo {
    width: 140px;
    height: 24px;
    gap: 24px;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    /*
    margin-right: 50%;
    */
    display: flex;
    gap: 24px;
    font-size: 14px;
    display: flex;
}

.apresentacao__texto {
    width: 700px;
    height: 300px;
    padding-top: 60px;
    gap: 8px;
}

.apresentacao__texto h1 {
    width: 700px;
    height: 114px;
    gap: 16px;
}

.apresentacao__texto p {
    width: 700px;
    height: 81px;
}

.scroll-logo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 100px;
    gap: 10px;
    opacity: 1;
    padding-right: 1px;
    padding-left: 1px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto 0;
}

.scroll {
    width: 70px;
    height: auto;
    object-fit: contain;
    opacity: 1;
    border-width: 1px;
    left: 1px;
}


.image_monks {
    display: flex;
    width: 506px;
    height: 100%;
    /*
    height: 480px;
    */
    padding: 10px;
    gap: 10px;
    opacity: 1;
}

.monks {
    /*
    opacity: 1;
    */
    width: 100%;
    height: 100%;


}


.apresentacao__container {
    max-width: 1440px;
    /* Largura padrão do Desk no Figma */
    margin: 0 auto;
    padding: 0 80px;
    /* MUDANÇA: Alinhamento exato com o topo */
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo {
    width: 1366px;
    height: 533px;
    gap: 40px;
    opacity: 1;
    padding-top: 64px;
    padding-right: 80px;
    padding-bottom: 32px;
    padding-left: 80px;

}

.Card-image {
    display: flex;
    width: 1206px;
    height: 314px;
    gap: 24px;
    opacity: 1;
}

.card {
    display: flex;
    flex-direction: column;
    width: 283.5px;
    height: 314px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 16px;
    padding-left: 6px;
    gap: 8px;
    opacity: 1;
    border-radius: 8px;
    background-color: #FCFCFD;
}

.card-img-top {
    width: 271.5px;
    height: 180px;
    opacity: 1;
    border-radius: 8px;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 271.5px;
    height: 104px;
    padding-right: 8px;
    padding-left: 8px;
    gap: 8px;
    opacity: 1;
}

.card-title {
    flex-direction: row;
    width: 255.5px;
    height: 36px;
    gap: 10px;
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400px;
    font-style: Medium;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.card-text {
    width: 255.5px;
    height: 60px;
    gap: 10px;
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400px;
    font-style: Light;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.sessao__image {
    display: flex;
    width: 1366px;
    height: 845px;
    gap: 24px;
    opacity: 1;
    padding-top: 64px;
    padding-right: 80px;
    padding-bottom: 64px;
    padding-left: 80px;
}

.sessao__texto {
    width: 591px;
    height: 717px;
    gap: 34px;
    opacity: 1;
}


.colunas_menores {
    width: 591px;
    height: 717px;
    gap: 24px;
    opacity: 1;
    width: 591;
}

.colunas_menores img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.banner-container {
    width: 1366px;
    height: 312px;
    padding-top: 32px;
    padding-right: 80px;
    padding-bottom: 64px;
    padding-left: 80px;
    gap: 24px;
    opacity: 1;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.banner-apps {
    display: flex;
    width: 1206px;
    height: 216px;
    gap: 40px;
    opacity: 1;
    padding: 40px;
    border-radius: 24px;
    background-color: #3C0C60;
}

.banner-apps__texto {
    width: 868.87;
    height: 111px;
    gap: 8px;
    opacity: 1;
}

.banner-apps__texto h1 {
    width: 868.87px;
    height: 47px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2%;
    opacity: 1;
    color: #EAE8E4;
}

.banner-apps__texto p {
    width: 868.87;
    height: 56px;
    opacity: 1;
    color: #EAE8E4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Light;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
}

.botoes-app {
    display: flex;
    flex-direction: column;
    width: 217.13px;
    height: 136px;
    gap: 8px;
    opacity: 1;
}

.app-apple {
    width: 217.13px;
    height: 64px;
    opacity: 1;
    border-radius: 8px;
}

.app-android {
    width: 216.13;
    height: 64px;
    opacity: 1;
    border-radius: 8px;

}

.secao-categorias {
    display: flex;
    flex-direction: column;
    width: 1366px;
    height: 337px;
    gap: 40px;
    opacity: 1;
    padding-top: 32px;
    padding-right: 80px;
    padding-bottom: 32px;
    padding-left: 80px;
}

.titulo-categorias {
    width: 1206px;
    height: 47px;
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
    font-weight: 400;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #2D2D2D;
}

.container-geral-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1206px;
    height: 186px;
    gap: 24px;
    opacity: 1;
}

.linha-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1206px;
    height: 186px;
    gap: 24px;
    opacity: 1;
}

.btn-categoria {
    /*
    width: 187;
    height: 46;
    */
    gap: 10px;
    opacity: 1;
    padding: 8px 40px;
    border-width: 1px solid #7D26C9;
    background-color: transparent;
    border-radius: 32px;
    height: 46px;
    white-space: nowrap;

    /*
    padding: 14px 40px;
    border: 2px solid #A293B3;
    background-color: transparent;
    border-radius: 50px;
    color: #4A4A4A;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap; 
    transition: all 0.3s ease; 
    */
}

.btn-categoria:hover {
    background-color: #3b1054;
    color: #ffffff;
    border-color: #3b1054;
}

.container__cards {
    display: flex;
    width: 1366px;
    height: 372px;
    padding-top: 32px;
    padding-right: 80px;
    padding-bottom: 64px;
    padding-left: 80px;
    gap: 40px;
    opacity: 1;
    /*
    justify-content: space-around;
*/
}


.card-text-center-mb-3 {
    /*style="width: 18rem;"*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375.33px;
    height: 276px;
    border-radius: 16px;
    gap: 24px;
    opacity: 1;
    padding: 24px;
    border: 2px solid #DFBBFE;
    background-color: #FFFFFF;
}

.card-body {
    width: 327.33px;
    height: 164px;
    gap: 8px;
    opacity: 1;
}

.card-title {
    width: 327.33px;
    height: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.card-text {
    width: 327.33px;
    height: 120px;
    gap: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Light;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.btn-container {
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    width: 100%;
    /*width: 180px;*/
    /*height: 40px;
    /*border-radius: 4px;*/
    /*padding: 8px 40px;
    opacity: 1;*/
}

.btn-btn-primary {
    width: 180px;
    height: 40px;
    padding: 8px 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2D2D2D;
    background-color: #DFBBFE;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 1;
    /*
    Width: 100px;
    height: 24px;
    font-style: Semi Bold;
    opacity: 1;
    */
}

/* Estilização da Seção Escura de Fundo */
.secao-formulario {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 584px;
    background-color: #2D2D2D;
    margin: 0;


    /*
    gap: 40px;
    position: relative;
    overflow: hidden;

    /*
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
    padding-top: 100px;      
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    /*
    padding: 60px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

.container-formulario-escuro {
    display: flex;
    justify-content: space-between;
    /* EMPURRA O BLOCO PARA A DIREITA */
    align-items: center;
    width: 100%;
    max-width: 1366px;
    /*height: 584px*/
    gap: 40px;
    padding: 0 80px;
    box-sizing: border-box;
    /*
    display: flex;
    width: 100%;
    height: 100%;
    padding: 64px 80px;
    gap: 40px;
    align-items: center;
    /*
    justify-content: space-between;
    */

    /*
    padding: 64px 80px;
    /*
    opacity: 1;             
    /*
    display: flex;
    /*flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 40px; 
    width: 90%;
    max-width: 1100px;
    */
}

.formulario-image img {
    width: 314.55;
    height: 300.87;
    object-fit: contain;
    /*
    opacity: 1;
    */
}


/* Bloco Branco do Formulário */
.formulario-bloco-branco {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 851.45px;
    height: 456px;
    gap: 32px;
    border-radius: 24px;
    padding: 24px;
    background-color: #EAE8E4;

    /*
    opacity: 1;


    /*
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    flex: 1;                  
    max-width: 650px;         
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    margin-top: -50px;        /* OPCIONAL: Efeito de 'subir' sobre a seção anterior se desejar */
    /*
    background-color: #FFFFFF;
    padding: 30px 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    */
}

.form-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Ocupa o espaço interno do bloco branco sem vazar */
    max-width: 100%;
    /* Medida de texto do Figma */
    /*height: 128px;*/
    /*gap: 8px;*/
}

/*
.formulario-bloco-branco header {
    margin-bottom: 30px;
}
*/

.formulario-bloco-branco h2 {
    flex-direction: row;
    width: 803.45px;
    height: 47px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #2D2D2D;
    margin: 0;
}

.formulario-bloco-branco p {
    flex-direction: row;
    width: 803.45px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Light;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.container__text {
    display: flex;
    flex-direction: row;
    width: 803.45px;
    height: 35px;
    padding-top: 16px;
    gap: 10px;
    /*
    opacity: 1;
    */
}

.texto {
    width: 803.45px;
    height: 19px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D2D2D;
}

.meuFormulario {
    display: flex;
    gap: 18px;
    width: 100%;
    /* Ocupa o espaço interno do bloco branco sem vazar */
    max-width: 100%;
    /* Medida de texto do Figma */
    /*;
    /*
    height: 102px;
    gap: 18px;
    /*
    opacity: 1;
    */
}

.grupo-inputs {
    display: grid;
    grid-template-columns: 392.72px 392.72px;
    gap: 18px;
    margin-bottom: 18px;
    /*width: 100%;*/
    /*height: 102px;*/
}

.grupo-inputs input {
    width: 100%;
    height: 42px;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: transparent;
}


.seguranca-container {
    margin-top: 30px;
    display: flex;
    width: 803.45px;
    height: 42px;
    gap: 32px;
}

.seguranca-container label {
    width: 281px;
    height: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.seguranca-operacao {
    display: flex;
    align-items: center;
    width: 224px;
    height: 42px;
    gap: 32px;
}


#num1,#num2 {
    color: #a855f7;
    width: 178px;
    height: 42px;
    gap: 16px;
    opacity: 1;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 8px;
    background-color: #DFDCD5;

}

#respostaUsuario {
    width: 234.45px;
    height: 42px;
    opacity: 1;
    padding-top: 6px 10px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

/*
#mensagemValidacao {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    min-height: 24px;
}
    */

.btn-enviar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.btn-enviar {
    width: 180px;
    height: 40px;
    opacity: 0.5;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
    border-radius: 4px;
    background-color: #DFBBFE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-enviar:hover {
    background-color: #c084fc;
}

.rodape-final {
    background-color: #2D2D2D;
    width: 100%;
    height: 220px;
    padding: 40px 120px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-logos {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 231px;
    height: 32px;
}

.footer-content {
    width: 572px;
    height: 68px;
    gap: 8px;
    opacity: 1;
}

.footer-title {
    width: 572px;
    height: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    color: #EAE8E4;
}

.footer-links {
    display: flex;
    flex-wrap: nowrap;
    width: 572px;
    height: 24px;
    gap: 40px;
    opacity: 1;
}

.footer-menu {
    width: 113px;
    height: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EAE8E4;
    white-space: nowrap;
}
